


<div
  class="tableauPlaceholder"
  id="viz1569110050089"
  style="position: relative; width: fit-content;"
>
  
  <iframe
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    title="Data Visualization"
    allowtransparency="true"
    allowfullscreen="true"
    class="tableauViz"
    style="display: block; width: 1527px; height: 1000px; margin: 0px; padding: 0px; border: none;"
    src="http://mockupr.com/mu/ieke2418/residence-caribbean-ttcb"
  ></iframe>
</div> 


<!-- <object class="tableauViz" style="display:none;">
    <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
    <param name="embed_code_version" value="3" />
    <param name="path" value="shared&#47;T3CW29YJQ" />
    <param name="toolbar" value="no" />
    <param
      name="static_image"
      value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;T3&#47;T3CW29YJQ&#47;1.png"
    />
    <param name="animate_transition" value="yes" />
    <param name="display_static_image" value="yes" />
    <param name="display_spinner" value="yes" />
    <param name="display_overlay" value="yes" />
    <param name="display_count" value="yes" />
    <param name="filter" value="publish=yes" />
  </object> -->