<form [formGroup]="form" class="search-wrapper" [ngClass]="'variant-'+variant">

    <div [fxLayout]="(vertical) ? 'column' : 'row wrap'"> 

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Property Type</mat-label> 
                <mat-select placeholder="Select Property Type" formControlName="propertyType">
                    <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType">
                        {{propertyType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Property Status</mat-label>
                <mat-select placeholder="Select Property Status" formControlName="propertyStatus">
                    <mat-option *ngFor="let propertyStatus of propertyStatuses" [value]="propertyStatus">
                        {{propertyStatus.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>        

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="price">

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="45">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>{{(variant == 1) ? 'Price' : 'Price From'}}</mat-label>
                        <input matInput autocomplete="off" placeholder="From" formControlName="from" type="text" onlyNumber>                  
                    </mat-form-field>
                </div>
                <div fxFlex="10" class="text-center" [class.pt-2]="variant == 2">
                    <mat-icon class="text-muted">remove</mat-icon>
                </div>
                <div fxFlex="45">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>{{(variant == 1) ? '' : 'Price To'}}</mat-label>
                        <input matInput autocomplete="off" placeholder="To" formControlName="to" type="text" onlyNumber>                  
                    </mat-form-field>
                </div>
            </div> 
        </div>          
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="p-2">       
      <button mat-raised-button color="warn" class="uppercase mx-1" (click)="reset()">Clear</button>
      <button *ngIf="searchOnBtnClick" mat-raised-button color="primary" class="search-btn mx-1" (click)="search()"><mat-icon>search</mat-icon> Search</button>
    </div>
    

</form>
