<app-header-image [backgroundImage]="'assets/images/others/about-page.jpeg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'About Us'"
                  [desc]="'We help you for find your house key'">
</app-header-image>


<div class="theme-container">
    <mat-card class="main-content-header">
        
        <div class="section pt-2">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">ABOUT US</h1>

                    <p class="px-3">
                    
Residence Caribbean is an independent MLS & IDX Listing Network for consumers to access a wider variety of cross border properties for sale and rent in the Caribbean region. We aim to become the leading real estate search engine for consumers starting with Trinidad & Tobago, Bahamas, the Cayman Islands, Barbados and Jamaica, powered by our proprietary Real Estate software ResidenceCRM.                            <br>
                            To achieve our primary focus, we’ve added luxury lifestyle an exclusive feature to empower consumers at the palm of their hands, by integrating directly with reputable first world brands such as Forbes & Luxury Travel Advisors, to cover the latest news and trends in luxury travel, luxury cruises, luxury destinations, luxury hotels, luxury airlines and luxury tours worldwide.
                                                
                    </p>

                    <div fxLayout="row wrap">

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">business</mat-icon>
                                <h2 class="capitalize fw-600 mx-2">OUR STORY</h2>
                            </div>                            
                            <p class="mt-2">
                            
                                    Residence Caribbean is powered by ResidenceCRM a proprietary Real Estate software designed for real estate practitioners. We empower brokers, associations & agents to seamlessly manage and collaborate properties listings, build better customer relationships, work more efficiently, manage transactions and work alongside service providers digitally from a click of a button.                            
                            </p>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">list_alt</mat-icon>
                                <h2 class="capitalize fw-600 mx-2">Vision</h2>
                            </div> 
                            <p class="mt-2">
                                
                                    Our vision is to be the technology infrastructure to drive innovation to the regional real estate industry with a competitive pricing model by making our software affordable for an individual agent, to multiple agents within an agency.
                                    <br>
                                    Primary Markets;
                                </p>
                                    <ul style="margin-left: 30px">
                                        <li>Trinidad & Tobago</li>
                                        <li>Jamaica</li>
                                        <li>Bahamas</li>
                                        <li>Barbados</li>
                                        <li>The Caiman Island </li>
                                    </ul>
                                                                
                        </div>

                    </div>
            
                    
                </div>
            </div>   
        </div> 

    </mat-card> 
 
</div>



<app-our-agents></app-our-agents>
      
<app-clients></app-clients>

