/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "app/theme/styles/spinner";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~swiper/dist/css/swiper.min.css';
@import "app/theme/styles/base";
@import "app/theme/styles/spaces";
@import "app/theme/styles/theme";
@import "app/theme/styles/rtl";

.mat-card-image {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
    height: 280px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.fw-600 {
    font-weight: 600 !important;
    font-size: 18px !important;
}
#circle {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.flagimg{
    width: 65px;
    height: 38px;
}
.flagSetting{
    position: relative;
    bottom: 146px;
    z-index: 999;
    left: 417px;
}
.rounded-circle {
    border-radius: 50%!important;
    width: 117px;
}
// mat-card img {
//     width: 47% !important;
//     height: 206px !important;
// }
// .tooltip {
//     position: relative;
//     display: inline-block;
//     border-bottom: 1px dotted black;
//   }
  
//   .tooltip .tooltiptext {
//     visibility: hidden;
//     width: 120px;
//     background-color: black;
//     color: #fff;
//     text-align: center;
//     border-radius: 6px;
//     padding: 5px 0;
    
//     /* Position the tooltip */
//     position: absolute;
//     z-index: 1;
//     bottom: 100%;
//     left: 50%;
//     margin-left: -60px;
//   }
  
//   .tooltip:hover .tooltiptext {
//     visibility: visible;
//   }
.mobileImg{
    display: none
}
agm-map {
    height: 400px;
    width: 100%;
  }

.webImg{
    display: block
}
@media (min-width: 320px) and (max-width: 769px) {
	.mobileImg{
        display: block
    }
    
    .webImg{
        display: none
    }
    .flagSetting {
        position: relative;
        bottom: 146px;
        z-index: 999;
        left: 100px;
    }

}
