 <mat-toolbar id="main-toolbar" class="mat-elevation-z2"> 
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <a class="logo" routerLink="/" ><app-logo></app-logo></a> 
    <div fxShow="false" fxShow.gt-sm class="horizontal-menu">            
        <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
    </div> 
    <div fxLayout="row" fxLayoutAlign="start center">     
      <span fxHide="false" fxHide.gt-sm>
        <button mat-button (click)="sidenavToggle()">
          <mat-icon>menu</mat-icon>
        </button> 
      </span>
      <a routerLink="/compare" mat-icon-button matTooltip="Compare list" fxShow="false" fxShow.gt-md class="mr-3 ml-2">
        <mat-icon [matBadge]="appService.Data.compareList.length" 
                  [matBadgeHidden]="appService.Data.compareList.length == 0" 
                  matBadgeSize="small" 
                  matBadgeColor="warn">compare_arrows</mat-icon>
    </a> 
      <a href="https://residencecrm.com/account/login" mat-raised-button color="primary" fxShow="false" fxShow.gt-xs class="uppercase">submit property</a>
    </div>   
  </div>     
</mat-toolbar>